name: Feature Build

on: [ push ]

env:
  CI: true

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
      - name: Extract branch name
        shell: bash
        run: echo "branch=$(echo ${GITHUB_REF#refs/heads/})" | tr '/' '-' >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Create output with Gradle
        run: |
          pushd .build
          ./gradlew run --args="--asciidoc --config-file ../specification/good_practice.json"
          popd

      - name: Create artifacts folder and copy files
        run: ./.github/copy_artifacts.sh

      - name: Upload artifacts
        # if: success() && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: good_practice-${{ steps.extract_branch.outputs.branch }}
          path: good_practice

  reqif:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          path: input

      - name: Extract branch name
        shell: bash
        run: echo "branch=$(echo ${GITHUB_REF#refs/heads/})" | tr '/' '-' >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Install asciidoctor
        run: sudo apt update && sudo apt install -y asciidoctor

      - name: Install plantuml gems
        run: gem install --user asciidoctor-diagram asciidoctor-diagram-plantuml

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install generator
        run: pip install git+https://github.com/ornet-ev/asciidoc-to-reqif.git@fc1f13aa7ddfb85938ac77a054296d629a1b90ca

      - name: generate ReqIF
        run: asciidoc-to-reqif input/specification/good_practice.adoc good_practice.reqifz -vv --json input/specification/good_practice.json

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: good-practice-reqif-${{ steps.extract_branch.outputs.branch }}
          path: good_practice.reqifz
          if-no-files-found: 'error'
